.box,.box2,.box3,.box4{
  overflow: hidden;
  text-align: center;
  line-height: 35px;
}
a{
  width:35px;
  height:35px;
  text-decoration: none;
  float: left;
  margin:0 5px;
  border:1px solid #999;
  color: #316ec8;
}
.active{
  float: left;
  margin: 0 5px;
  width: 35px;
  height: 35px;
  background: #316ec8;
  color: #fff;
  font-size: 14px;
  border: 1px solid #316ec8;
}
span{
  float: left;
  margin: 0 5px;
  width: 35px;
  height: 35px;
  color: #316ec8;
  font-size: 14px;
}
input {
  float: left;
  margin: 0 5px;
  width: 35px;
  height: 35px;
  background: #fff;
  border: 1px solid #999;
  outline: none;
  color: #316ec8;
  text-align: center;
  font-size: 14px;
}
table{
  width:80%;
  text-align: center;
  border-collapse:collapse;
  margin:50px auto 0;
}
thead{
  background: #316ec8;
  line-height: 40px;
}
tbody{
  background: #fff;
  line-height: 30px;
}
tr{
  border-left:1px solid #999;
}
td{
  border-bottom: 1px solid #999;
  border-right:1px solid #999;
}